<!DOCTYPE html>
<html>
<head>
    @*<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/Content/school icon.png">
    <title>@ViewBag.Title - Dashboard</title>
    <!-- Core plugin JavaScript-->
    <script src="~/Content/AdminTemplate/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/AdminTemplate/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/Content/AdminTemplate/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Content/AdminTemplate/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- Custom styles for this page -->
    <link href="~/Content/AdminTemplate/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<body id="page-top">
    @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container">
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("User Types", "Index", "UserTypeTables", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("All Users", "Index", "UserTables", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container body-content">*@
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Dashboard","Home")">
                <div class="sidebar-brand-icon">
                    <svg fill="#ffffff" height="64px" width="64px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 511 511" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M503.5,476H487V267h16.5c2.737,0,5.257-1.491,6.575-3.891c1.317-2.4,1.222-5.327-0.247-7.636l-56-88 c-1.377-2.164-3.763-3.474-6.328-3.474H298.606L263,128.394V99h72.5c2.766,0,5.308-1.522,6.613-3.961 c1.305-2.438,1.162-5.398-0.373-7.699L328.514,67.5l13.227-19.84c1.535-2.301,1.677-5.261,0.373-7.699 C340.808,37.522,338.266,36,335.5,36H263v-8.5c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v100.894L212.394,164H63.5 c-2.564,0-4.951,1.31-6.328,3.474l-56,88c-1.469,2.309-1.564,5.236-0.247,7.636C2.243,265.509,4.763,267,7.5,267H24v209H7.5 c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h496c4.142,0,7.5-3.358,7.5-7.5S507.642,476,503.5,476z M443.383,179l46.455,73 H386.606l-73-73H443.383z M321.486,51l-8.227,12.34c-1.68,2.519-1.68,5.801,0,8.32L321.486,84H263V51H321.486z M67.617,179h129.776 l-73,73H21.163L67.617,179z M39,267h88.498c0.248,0,0.496-0.013,0.744-0.038c0.106-0.01,0.21-0.03,0.315-0.045 c0.137-0.02,0.274-0.036,0.411-0.063c0.122-0.024,0.24-0.058,0.36-0.088c0.117-0.029,0.235-0.056,0.351-0.09 c0.118-0.036,0.233-0.081,0.349-0.122c0.115-0.041,0.23-0.079,0.344-0.126c0.109-0.045,0.213-0.098,0.319-0.148 c0.115-0.055,0.232-0.106,0.345-0.167c0.103-0.055,0.2-0.118,0.3-0.177c0.11-0.065,0.222-0.128,0.329-0.2 c0.112-0.075,0.217-0.158,0.324-0.239c0.088-0.066,0.179-0.127,0.264-0.198c0.192-0.157,0.376-0.323,0.551-0.499L255.5,142.106 l122.696,122.695c0.175,0.175,0.36,0.341,0.551,0.499c0.085,0.07,0.175,0.131,0.263,0.197c0.108,0.081,0.214,0.165,0.326,0.24 c0.106,0.071,0.217,0.133,0.326,0.198c0.101,0.061,0.199,0.124,0.303,0.179c0.112,0.06,0.227,0.111,0.342,0.165 c0.107,0.051,0.213,0.104,0.323,0.15c0.112,0.046,0.226,0.083,0.339,0.124c0.117,0.042,0.233,0.087,0.353,0.124 c0.114,0.035,0.23,0.06,0.345,0.089c0.122,0.031,0.242,0.065,0.366,0.089c0.132,0.026,0.265,0.042,0.398,0.061 c0.109,0.016,0.217,0.036,0.328,0.047c0.246,0.024,0.493,0.037,0.74,0.037H472v209H311V371.5c0-12.958-10.542-23.5-23.5-23.5h-64 c-12.958,0-23.5,10.542-23.5,23.5V476H39V267z M296,380h-81v-8.5c0-4.687,3.813-8.5,8.5-8.5h64c4.687,0,8.5,3.813,8.5,8.5V380z M215,395h33v81h-33V395z M263,395h33v81h-33V395z"></path> <path d="M255.5,323c30.603,0,55.5-24.897,55.5-55.5S286.103,212,255.5,212S200,236.897,200,267.5S224.897,323,255.5,323z M255.5,227c22.332,0,40.5,18.168,40.5,40.5S277.832,308,255.5,308S215,289.832,215,267.5S233.168,227,255.5,227z"></path> <path d="M255.5,275c4.142,0,7.5-3.358,7.5-7.5v-24c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5V260h-16.5 c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5H255.5z"></path> <path d="M175.5,388h-40c-4.142,0-7.5,3.358-7.5,7.5v48c0,4.142,3.358,7.5,7.5,7.5h40c4.142,0,7.5-3.358,7.5-7.5v-48 C183,391.358,179.642,388,175.5,388z M168,403v9h-25v-9H168z M143,436v-9h25v9H143z"></path> <path d="M103.5,388h-40c-4.142,0-7.5,3.358-7.5,7.5v48c0,4.142,3.358,7.5,7.5,7.5h40c4.142,0,7.5-3.358,7.5-7.5v-48 C111,391.358,107.642,388,103.5,388z M96,403v9H71v-9H96z M71,436v-9h25v9H71z"></path> <path d="M173,292h-35c-5.514,0-10,4.486-10,10v53.5c0,4.142,3.358,7.5,7.5,7.5h40c4.142,0,7.5-3.358,7.5-7.5V302 C183,296.486,178.514,292,173,292z M168,307v17h-25v-17H168z M143,348v-9h25v9H143z"></path> <path d="M101,292H66c-5.514,0-10,4.486-10,10v53.5c0,4.142,3.358,7.5,7.5,7.5h40c4.142,0,7.5-3.358,7.5-7.5V302 C111,296.486,106.514,292,101,292z M96,307v17H71v-17H96z M71,348v-9h25v9H71z"></path> <path d="M407.5,451h40c4.142,0,7.5-3.358,7.5-7.5v-48c0-4.142-3.358-7.5-7.5-7.5h-40c-4.142,0-7.5,3.358-7.5,7.5v48 C400,447.642,403.358,451,407.5,451z M415,436v-9h25v9H415z M440,403v9h-25v-9H440z"></path> <path d="M335.5,451h40c4.142,0,7.5-3.358,7.5-7.5v-48c0-4.142-3.358-7.5-7.5-7.5h-40c-4.142,0-7.5,3.358-7.5,7.5v48 C328,447.642,331.358,451,335.5,451z M343,436v-9h25v9H343z M368,403v9h-25v-9H368z"></path> <path d="M407.5,363h40c4.142,0,7.5-3.358,7.5-7.5V302c0-5.514-4.486-10-10-10h-35c-5.514,0-10,4.486-10,10v53.5 C400,359.642,403.358,363,407.5,363z M415,348v-9h25v9H415z M440,307v17h-25v-17H440z"></path> <path d="M335.5,363h40c4.142,0,7.5-3.358,7.5-7.5V302c0-5.514-4.486-10-10-10h-35c-5.514,0-10,4.486-10,10v53.5 C328,359.642,331.358,363,335.5,363z M343,348v-9h25v9H343z M368,307v17h-25v-17H368z"></path> </g> </g></svg>
                </div>
                <div class="sidebar-brand-text mx-3">Dashboard <sup>user</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Dashboard","Home")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Student Registration
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStudent" aria-expanded="true" aria-controls="collapseStudent">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Student's</span>
                </a>
                <div id="collapseStudent" class="collapse" aria-labelledby="headingReport" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Student Registration:</h6>
                        @Html.ActionLink("New Student", "Create", "StudentTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("Students List", "Index", "StudentTables", null, new { @class = "collapse-item" })

                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Promotion:</h6>
                        @Html.ActionLink("Promote Student", "Create", "StudentPromotTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("Promote List", "Index", "StudentPromotTables", null, new { @class = "collapse-item" })

                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Fee's:</h6>
                        @Html.ActionLink("Tuition Fee", "Index", "SubmissionFeeTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("Annual Fee", "Index", "AnnualTables", null, new { @class = "collapse-item" })

                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Student Attendance:</h6>
                        @Html.ActionLink("Student Attendance", "Index", "AttendanceTables", null, new { @class = "collapse-item" })
                    </div>
                </div>
            </li>

            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Staff Registration
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStaff" aria-expanded="true" aria-controls="collapseStaff">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Employee's</span>
                </a>
                <div id="collapseStaff" class="collapse" aria-labelledby="headingStaff" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Staff Registration:</h6>
                        @Html.ActionLink("Staff", "Index", "StaffTables", null, new { @class = "collapse-item" })

                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Attendance:</h6>
                        @Html.ActionLink("Staff Attendance", "Index", "StaffAttendanceTables", null, new { @class = "collapse-item" })
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Basic Configuration
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Settings</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Setting</h6>
                        @Html.ActionLink("User Types", "Index", "UserTypeTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("All Users", "Index", "UserTables", null, new { @class = "collapse-item" })
                        <a class="collapse-item" href="@Url.Action("Index","ContactTables")">Contact Forms</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Configuration</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Configuration:</h6>
                        @Html.ActionLink("Subjects", "Index", "SubjectTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("Programes", "Index", "ProgrameTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("Designations", "Index", "DesignationTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("Annual Fee/Promote Fee", "Index", "AnnualTables", null, new { @class = "collapse-item" })
                    </div>
                </div>
            </li>
            <!-- Nav Item - Sessions Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSession" aria-expanded="true" aria-controls="collapseSession">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Sessions</span>
                </a>
                <div id="collapseSession" class="collapse" aria-labelledby="headingSession" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Configuration:</h6>
                        @Html.ActionLink("Session", "Index", "SessionTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("Program Setting", "Index", "ProgrameSessionTables", null, new { @class = "collapse-item" })
                    </div>
                </div>
            </li>
            <!-- Nav Item - Classes Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClass" aria-expanded="true" aria-controls="collapseClass">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Class's</span>
                </a>
                <div id="collapseClass" class="collapse" aria-labelledby="headingClass" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Configuration:</h6>
                        @Html.ActionLink("Class", "Index", "ClassTables", null, new { @class = "collapse-item" })
                        @Html.ActionLink("Class Subject Setting", "Index", "ClassSubjectTables", null, new { @class = "collapse-item" })
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Examination
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Exam Setting</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Exam Setting:</h6>
                        @Html.ActionLink("Exam Type", "Index", "ExamTables", null, new { @class = "collapse-item" })

                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Examination:</h6>
                        @Html.ActionLink("Add Marks Sheet", "Index", "ExamMarksTables", null, new { @class = "collapse-item" })
                    </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Time Table
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#TimeTable" aria-expanded="true" aria-controls="TimeTable">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Time Table Setting</span>
                </a>
                <div id="TimeTable" class="collapse" aria-labelledby="headingTimeTable" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Setting:</h6>
                        @Html.ActionLink("Set Time Table", "Index", "TimeTblTables", null, new { @class = "collapse-item" })

                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Class Wise:</h6>
                        @Html.ActionLink("Time Table", "Index", "TimeTblTables", null, new { @class = "collapse-item" })
                    </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Reports
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReport" aria-expanded="true" aria-controls="collapseReport">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Basic Reports</span>
                </a>
                <div id="collapseReport" class="collapse" aria-labelledby="headingReport" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">General Reports:</h6>
                        @Html.ActionLink("Student Reports", "#", "#", null, new { @class = "collapse-item" })

                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Administration Reports:</h6>
                        @Html.ActionLink("Applied Students List", "#", "#", null, new { @class = "collapse-item" })

                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Examination Reports:</h6>
                        @Html.ActionLink("Print DMC", "#", "#", null, new { @class = "collapse-item" })

                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Attendance Reports:</h6>
                        @Html.ActionLink("Student Attendance", "#", "#", null, new { @class = "collapse-item" })
                        @Html.ActionLink("Teacher Attendance", "#", "#", null, new { @class = "collapse-item" })

                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Fee's Reports':</h6>
                        @Html.ActionLink("Annual Fee Report", "#", "#", null, new { @class = "collapse-item" })
                        @Html.ActionLink("Student Fee Report", "#", "#", null, new { @class = "collapse-item" })
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <li class="nav-item">
                <a href="javascript:;" class="nav-link collapsed" data-toggle="collapse" data-target="#collapseResume" aria-expanded="true" aria-controls="collapseResume">
                    <i class="fa-solid fa-desktop"></i>
                    <span>My Resume</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <div id="collapseResume" class="collapse" aria-labelledby="headingResume" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <ul class="sub">
                            <li>@Html.ActionLink("Education", "Education", "Resume", null, new { @class = "" })</li>
                            <li>@Html.ActionLink("Experience", "WorkExperience", "Resume", null, new { @class = "" })</li>
                            <li>@Html.ActionLink("Skills", "SkiCerfLang", "Resume", null, new { @class = "" })</li>
                        </ul>
                    </div>
                </div>
            </li>
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->

                        </li>

                        <!-- Nav Item - Alerts -->

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Session["UserName"]</span>
                                <img class="img-profile rounded-circle" src="~/Content/AdminTemplate/img/5.jpg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Sadaat Islamia Model School</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    @Html.ActionLink("Logout", "Logout", "Home", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    
    <script src="~/Content/AdminTemplate/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/AdminTemplate/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Content/AdminTemplate/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Content/AdminTemplate/js/demo/chart-area-demo.js"></script>
    <script src="~/Content/AdminTemplate/js/demo/chart-pie-demo.js"></script>
    <!-- Page level plugins -->
    <script src="~/Content/AdminTemplate/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/AdminTemplate/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Content/AdminTemplate/js/demo/datatables-demo.js"></script>
</body>
</html>
